.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  background-color: var(--main-blue-color);
  z-index: 10;
}
.header > .inner {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo {
  position: relative;
  font-size: 2.4rem;
  margin-left: 2rem;
}

.gnv {
  height: 100%;
}

.inner > .logo > a:hover, .inner > .logo > a:active {
  color: val(--dark-color);
  text-decoration: none;
}